/* App.css */

.App {
    text-align: center;
    background-color: #c7ddcc; /* Mint */
    min-height: 100vh;
    padding: 40px; /* Extra padding for better spacing */
}

h1 {
    color: #16123f; /* Navy */
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

button {
    background-color: #ffe26a; /* Fresh Lemon */
    color: #16123f; /* Navy */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #abd699; /* Light Lime */
}

button:not(:last-child) {
    margin-right: 10px;
}
